body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 8px;
}

h1 {
  font-size: 1.5em;
  font-weight: 1000;
  color: #011627;
  text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.5);
}

h3 {
  font-weight: 1000;
  color: #ff7b32;
  margin-bottom: 2%;
}

hr {
  width: 50px;
  text-align: left;
  margin-left: 8px;
  background-color: black;
  border: black solid 3px;
}

div > h2 {
  position: absolute;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 0.7vw;
}

main > div {
  box-shadow: 3px 3px 10px 0px rgba(33, 33, 33, 0.5);
  position: relative;
  margin: 10px 12px 0px 12px;
  background-color: white;
}

div > h2,
div > h3,
div > p,
header > * {
  margin-left: 8px;
}

header,
.bandeau {
  box-shadow: 3px 3px 10px 0px rgba(33, 33, 33, 0.5);
  margin-top: -8px;
  margin-left: -8px;
  position: relative;
}

.header p {
  color: #909293;
  text-shadow: 1px 1px 2px rgba(255, 123, 50, 0.25);
}

header a,
.bandeau a {
  margin-right: 10px;
}

.reseaux {
  position: absolute;
  right: 0;
  top: 27%;
}

.bandeau {
  position: absolute;
  z-index: 10;
  width: 98%;
}

.numero {
  width: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  border: 2px solid #671368;
  background-color: #671368;
  color: white;
  position: absolute;
  right: 0;
  bottom: -50%;
  z-index: 10;
}

h1::before {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  margin-bottom: -14px;
  content: "";
  background: url("../img-site/logo.svg") no-repeat 0 0;
  background-size: 50px 50px;
}

nav {
  margin: 10px 8px 0 8px;
  color: #ff7b32;
}

li {
  list-style-type: none;
}

nav > ul > .blog:before {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  margin-bottom: -7px;
  content: "";
  background: url("../img-site/logos_nav/blog.png") no-repeat 0 0;
  background-size: 25px 25px;
}

nav > ul > .categories:before {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  margin-bottom: -7px;
  content: "";
  background: url("../img-site/logos_nav/categories.png") no-repeat 0 0;
  background-size: 25px 25px;
}

nav > ul > .authors:before {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  margin-bottom: -7px;
  content: "";
  background: url("../img-site/logos_nav/authors.png") no-repeat 0 0;
  background-size: 25px 25px;
}

nav > ul > .search:before {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  margin-bottom: -7px;
  content: "";
  background: url("../img-site/logos_nav/search.png") no-repeat 0 0;
  background-size: 25px 25px;
}

nav > ul > .about:before {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  margin-bottom: -7px;
  content: "";
  background: url("../img-site/logos_nav/about.png") no-repeat 0 0;
  background-size: 25px 25px;
}

main > div > .auteur {
  text-decoration: underline;
  font-size: 0.8em;
}

main > div > .auteur:before {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  margin-bottom: -7px;
  content: "";
  background: url("https://img.icons8.com/material-outlined/24/000000/user-male-circle.png") no-repeat 0 0;
  background-size: 25px 25px;
}

main > div > .date_publication {
  font-style: italic;
  font-size: 0.8em;
}

main > div > .date_publication:before {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  margin-bottom: -5px;
  content: "";
  background: url("https://img.icons8.com/ios/50/000000/calendar.png") no-repeat 0 0;
  background-size: 25px 25px;
}

footer {
  margin: 6% 0;
}

footer a {
  margin-left: 60%;
  background-color: white;
  border: 1px black solid;
  border-radius: 15px;
  font-size: 20px;
  padding: 5px 50px;
  text-decoration: none;
  color: black;
}

footer a > img {
  margin-bottom: -7.5px;
}

header {
  order: 1;
}

nav {
  order: 2;
}

.section_1 {
  order: 3;
  transform: rotate(-1deg);
}

.section_2 {
  order: 4;
  transform: rotate(1deg);
}

.section_3 {
  order: 5;
  transform: rotate(-1deg);
}

.section_4 {
  order: 6;
  transform: rotate(1deg);
}

.section_5 {
  order: 7;
}

.section_6 {
  order: 8;
  transform: rotate(1deg);
}

.section_7 {
  order: 9;
  transform: rotate(-1deg);
}

.section_8 {
  order: 10;
  transform: rotate(1deg);
}

.section_9 {
  order: 11;
  transform: rotate(-1deg);
}

.section_10 {
  order: 12;
  transform: rotate(1deg);
}

@media screen and (max-width: 600px) {
  .row {
    display: grid;
    grid-template-columns: repeat(2, [col-start] 1fr);
    gap: 5px;
  }

  header {
    grid-column: col-start/span 2;
  }

  nav {
    grid-column: col-start/span 2;
  }

  .section_1,
.section_2,
.section_3,
.section_7,
.section_8,
.section_9,
.section_10 {
    grid-column: col-start/span 2;
  }

  .bandeau {
    top: 87vh;
  }

  .section_4 {
    grid-column: col-start/span 1;
  }

  .section_5 {
    grid-column: col-start 2/span 1;
  }

  .section_6 {
    grid-column: col-start/span 1;
  }

  .numero {
    display: none;
  }

  header h1 {
    margin-bottom: 10%;
  }

  header .reseaux {
    top: 42%;
  }

  .bandeau h1 {
    margin-bottom: 7%;
  }

  .bandeau .reseaux {
    top: 70%;
  }

  footer a {
    margin-left: 40%;
    padding: 1% 6%;
  }
}
@media screen and (min-width: 600px) {
  .row {
    display: grid;
    grid-template-columns: repeat(3, [col-start] 1fr);
    gap: 5px;
  }

  header {
    grid-column: col-start/span 3;
  }

  nav {
    grid-column: col-start/span 1;
  }

  .section_1 {
    grid-column: col-start 2/span 2;
  }

  .bandeau {
    top: 108vh;
  }

  .section_2 {
    grid-column: col-start/span 2;
  }

  .section_3 {
    order: 6;
    grid-column: col-start/span 2;
  }

  .section_4 {
    order: 5;
    grid-column: col-start 3/span 1;
  }

  .section_5 {
    grid-column: col-start 3/span 1;
  }

  .section_6 {
    grid-column: col-start/span 1;
  }

  .section_7 {
    grid-column: col-start 2/span 2;
  }

  .section_8,
.section_9,
.section_10 {
    grid-column: col-start/span 2;
  }

  .bandeau .reseaux {
    top: 45%;
  }

  .numero {
    display: none;
  }

  footer a {
    margin-left: 40%;
  }
}
@media screen and (min-width: 768px) {
  .row {
    display: grid;
    grid-template-columns: repeat(4, [col-start] 1fr);
    gap: 5px;
  }

  header {
    grid-column: col-start/span 4;
  }

  nav {
    grid-column: col-start/span 1;
  }

  .section_1 {
    grid-column: col-start 2/span 2;
  }

  .bandeau {
    display: none;
  }

  .section_2 {
    grid-column: col-start/span 2;
    order: 5;
  }

  .section_3 {
    grid-column: col-start 3/span 2;
  }

  .section_4 {
    grid-column: col-start 4/span 1;
    order: 4;
  }

  .section_5 {
    grid-column: col-start/span 1;
  }

  .section_6 {
    grid-column: col-start 2/span 1;
  }

  .section_7 {
    grid-column: col-start 3/span 2;
  }

  .section_8 {
    grid-column: col-start/span 2;
  }

  .section_9 {
    grid-column: col-start 3/span 2;
  }

  .section_10 {
    grid-column: col-start/span 2;
  }

  footer a {
    margin-left: 60%;
  }

  .numero {
    display: initial;
  }
}
@media screen and (min-width: 992px) {
  .row {
    display: grid;
    grid-template-columns: repeat(5, [col-start] 1fr);
    gap: 5px;
  }

  header {
    grid-column: col-start/span 5;
  }

  nav {
    grid-column: col-start/span 1;
  }

  .section_1 {
    grid-column: col-start 2/span 2;
  }

  .bandeau {
    display: none;
  }

  .section_2 {
    grid-column: col-start 4/span 2;
    order: 4;
  }

  .section_3 {
    grid-column: col-start/span 2;
    order: 5;
  }

  .section_4 {
    grid-column: col-start 3/span 1;
    order: 6;
  }

  .section_5 {
    grid-column: col-start 4/span 1;
  }

  .section_6 {
    grid-column: col-start 5/span 1;
  }

  .section_7 {
    grid-column: col-start/span 2;
  }

  .section_8 {
    grid-column: col-start 3/span 2;
  }

  .section_9 {
    grid-column: col-start/span 2;
  }

  .section_10 {
    grid-column: col-start 3/span 2;
  }

  .numero {
    bottom: -38%;
  }
}
@media screen and (min-width: 1200px) {
  .row {
    display: grid;
    grid-template-columns: repeat(6, [col-start] 1fr);
    gap: 5px;
  }

  header {
    grid-column: col-start/span 6;
  }

  nav {
    grid-column: col-start/span 1;
  }

  .section_1 {
    grid-column: col-start 2/span 2;
  }

  .bandeau {
    display: none;
  }

  .section_2 {
    grid-column: col-start 4/span 2;
  }

  .section_3 {
    grid-column: col-start/span 2;
    order: 7;
  }

  .section_4 {
    grid-column: col-start 6/span 1;
    order: 6;
  }

  .section_5 {
    grid-column: col-start 3/span 1;
  }

  .section_6 {
    grid-column: col-start 4/span 1;
  }

  .section_7 {
    grid-column: col-start 5/span 2;
  }

  .section_8 {
    grid-column: col-start/span 2;
  }

  .section_9 {
    grid-column: col-start 3/span 2;
  }

  .section_10 {
    grid-column: col-start 5/span 2;
  }

  .numero {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
